.box{
  width: 5rem;
  height: 5rem;
}
.box1{
  background-color: aqua;
  position: relative;
  top: 2rem;
  /* bottom: 2rem; */
  left: 2rem;
}
.box2{
  background-color: red;
  position: relative;
  /* top: 4rem; */
  /* bottom: 2rem; */
  /* left: 2rem; */
}
