//*****************************************************
//*   Variables
//*****************************************************

//*Colors
$primary-color: hsl(235, 92%, 46%);
$secondary-color: #7b2fff;
$text-color: hwb(0 93% 7%);

//*Font

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

//* Path Variables

$main-bgImg-path: "../img/sailor-omer.jpg";
