//*****************************************************
//*   Variables
//*****************************************************

//*Colors
$primary-color: blue;
$secondary-color: rgb(68, 0, 255);
// $secondary-color: rgb(68, 0, 255);
$text-color: beige;

//*Font

$font-family: "Arial, Helvetica, sans-serif";

//* Path Variables

$main-bgImg-path: ".../img/model-1.jpg";
