//*****************************************************
//*   Variables
//*****************************************************

//*Colors
$primary-color: blue;
$secondary-color: orange;
$text-color: beige;

//*Font

$font-family: "Arial, Helvetica, sans-serif";

//* Path Variables

$main-bgImg-path: ".../img/model-1.jpg";
