@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Prosto+One&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,900&family=Sevillana&family=Yeon+Sung&display=swap");

:root {
  /*? Colors */
  --white: #fff;
  --black: #222;
  --magenta: magenta;
  --green-dark: hsla(168, 66%, 22%, 1);
  --green: hsla(115, 34%, 37%, 1);
  --green-light: hsla(75, 51%, 60%, 1);
  --yellow: hsla(52, 100%, 68%, 1);
  --orange: hsla(11, 100%, 59%, 1);
  --orange-dark: hsla(11, 100%, 40%, 1);
  --orange-light: hsla(11, 100%, 70%, 1);

  /*? Font Families */
  --ff-prosto: "Prosto One", cursive;
  --ff-roboto: "Roboto", sans-serif;
  --ff-pt: "PT Sans Narrow", sans-serif;
  --ff-sevillana: "Sevillana", cursive;
  --ff-yeon: "Yeon Sung", cursive;

  /*? Font-size */
  --fs-3xl: 3rem;
  --fs-2xl: 2rem;
  --fs-xl: 1.8rem;
  --fs-lg: 1.4rem;
  --fs-md: 1rem;
  --fs-sm: 0.8rem;
  --fs-xs: 0.6rem;

  /*? Shadows */
  --shadow-dark: 0 0 10px rgba(0, 0, 0, 0.4);
  --shadow-light: 0 0 10px rgba(0, 0, 0, 0.15);
}

h1 {
  font-family: var(--ff-prosto);
  color: var(--orange-dark);
  font-size: var(--fs-3xl);
}

p {
  font-size: var(--fs-sm);
  font-family: var(--ff-sevillana);
}

.dark {
  padding: 3rem;
  background-color: var(--green);
  box-shadow: var(--shadow-dark);
  margin-bottom: 2rem;
}

.light {
  padding: 3rem;
  background-color: var(--yellow);
  box-shadow: var(--shadow-light);
  font-family: var(--ff-pt);
}
